%h1 Applying from the UK

%h3 Planning Ahead

%p The US university application process is different from UCAS in several ways. In contrast to the UCAS system, it is important that you start to think about the process well in advance of the actual application, because for a start you’ll need to line up different kinds of paperwork. We explain the procedure below, but bear in mind that your teachers or Uni adviser may not know very much about the process, so it’s best if you get as much information as you can up front, line up your references, find out about the financial assistance packages that are on offer, and plan in the required SAT Tests. It sounds like a lot, but when you break it down into manageable chunks and spread it over 18 months or so, it’s not all that bad! And... get your VI Form Advisor or referee as well as your parents or guardians to go through this site!