.container#wrapper
	#sidebar-wrapper
		%ul.sidebar-nav
			%li.sidebar-brand 
				%a{:href => 'applying'} Applying
			%li 
				%a{:href => '#'} Timeline
			%li 
				%a{:href => '#'} Assembling your application
			%li 
				%a{:href => '#'} Interview
			%li 
				%a{:href => '#'} SAT tests

	#page-content-wrapper.container-fluid
		%h1.highlight-block Applying from the UK
		%h3 Planning Ahead
		%p The US university application process is different from UCAS in several ways. In contrast to the UCAS system, it is important that you start to think about the process well in advance of the actual application, because for a start you’ll need to line up different kinds of paperwork. We explain the procedure below, but bear in mind that your teachers or Uni adviser may not know very much about the process, so it’s best if you get as much information as you can up front, line up your references, find out about the financial assistance packages that are on offer, and plan in the required SAT Tests. It sounds like a lot, but when you break it down into manageable chunks and spread it over 18 months or so, it’s not all that bad! And... get your VI Form Advisor or referee as well as your parents or guardians to go through this site!

		%h3 Thinking about Yourself and Harvard
		%p The US system in general, and Harvard in particular, look for a wider range of interests and pursuits in an applicant than the British system, whether activities that you have been involved in to a high level for some time, or new interests that have recently caught your fancy and that you have put time into. In some cases it may be a sport that you have taken to advanced level, or developing your talents in the arts, music or theatre. You may have been learning a language just for fun, or working in a community activity. You may have won prizes for Science competitions or tutored primary school kids in Maths. You may even have started up a small business and shown genuine entrepreneurial spirit. All these things are part of ‘who you are’ as a person, and US unis look at the whole person when they make their decisions, not just your academic grades. So when in Year 10 and Lower VI, take time to focus on what you have accomplished so far, and think about what aspects of yourself you’d like to highlight. It may help you decide what extracurricular activities you decide to keep up and develop further, whether during the school year or in the holidays. 