.jumbotron
  .container
    %h1 Harvard Admissions for UK Students
    %p Welcome to the online portal for UK students interested in applying to Harvard.  We hope this site will be useful to you as a source of knowledge about Harvard, the application process unique to international students, and general information about going to college in the United States.  Explore the links below!
    / %p
    /   %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more »
.carousel.slide{"data-ride" => "carousel"}
  .carousel-inner{:role => "listbox"}
    .item.active
      %img.first-slide{:alt => "First slide", :src => "https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/10987736_10152563018681607_4291223189725048347_o.jpg"}/
      .container
        .carousel-caption
          %h1 A global institution

    .item
      %img.second-slide{:alt => "Second slide", :src => "https://scontent-lhr.xx.fbcdn.net/hphotos-xft1/t31.0-8/10679844_10152328563821607_3974796259932773557_o.jpg"}/
      .container
        .carousel-caption
          %h1 Unparalleled opportunities
          
    .item
      %img.third-slide{:alt => "Third slide", :src => "https://scontent-lhr.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10608698_10152244437901607_558710098211143581_o.jpg"}/
      .container
        .carousel-caption
          %h1 Broaden your horizons
    
.container
  .row
    .col-md-4
      %h2 Applying from the UK
      %p Details about the US university admissions process in general, and more specifically about the admissions process including standardized tests and application forms for Harvard.
      %p
        %a.btn.btn-default{:href => "applying", :role => "button"} Learn more »
    .col-md-4
      %h2 Studying in the US
      %p What it's like to go to university in the US, how it might differ from the UK, and whether the US system is right for you. We've highlighted American concepts, words and expressions, to make it easier to navigate US colleges' websites.
      %p
        %a.btn.btn-default{:href => "studying", :role => "button"} Learn more »
    .col-md-4
      %h2 Funding & Financial Aid
      %p Harvard meets the demonstrated need of every student, including international students, for all four years -- find out how to ensure you've filed the proper forms to receive this aid in a timely manner..
      %p
        %a.btn.btn-default{:href => "financial_aid", :role => "button"} Learn more »
  %hr/
